<!--@region_details: {name: '', blurb: '', map_markers: {}, kite_spots: [], countries: [] }-->

<section>
  <div class="map-wrapper-450">
    <div class="h-100 leaflet-container leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag" style="position: relative;" tabindex="0">
      <%= render 'partials/leaflet_map', locals={map_markers: @region_details[:map_details]} %>
    </div>
  </div>
</section>

<section class="py-5 bg-gray-100 shadow">
  <div class="container">
    <h1><%= @region_details[:region_name] %></h1>
    <p class="lead mb-5"><%= @region_details[:region_blurb] %></p>
    <h5>Countries</h5>
    <ul class="nav-pills-custom nav">
      <% @region_details[:countries].each do |country| %>
        <li class="nav-item">
          <%= link_to country.name, country, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center flex-column flex-md-row mb-4">
      <div class="mr-3">
        <p class="mb-3 mb-md-0">Showing <strong><%= @region_details[:kite_spots].count %></strong> of
          <strong><%= @region_details[:kite_spots_count] %></strong>&nbsp;spots found</p>
      </div>

      <div>
        <!-- Sort Map results -->
        <%= form_with(url: search_advanced_path, scope: :search, method: :get, local: false) do |form| %>
          <label class="form-label mr-2">Sort by</label>
          <!--TODO - enable sorting-->
          <%= form.select('results_sort', result_sort_options, {}, {class: 'custom-select mb-3', disabled: true}) %>
        <% end %>
        <script type="text/javascript" charset="utf-8">
          // TODO - use onchange action on select tag
          $('#search_results_sort').on('change', function() { this.form.submit() });
        </script>
      </div>

    </div>

    <div class="row">
      <% if @region_details[:countries].empty? && @region_details[:kite_spots].empty? %>
        <p class="text-center">No Matches Found</p>
      <% else %>

        <% @region_details[:kite_spots].each do |kite_spot| %>
          <div class="mb-5 hover-animate col-lg-4 col-md-6">
            <%= render 'partials/components/kite_spot_card', locals={model: kite_spot} %>
          </div>
        <% end %>

        <!--% @region_details[:countries].each do |country| %>-->
          <!--<div class="d-flex align-items-lg-stretch mb-4 col-lg-6">-->
            <!--%= render 'partials/components/rounded_image_card', locals = {model: country} %>-->
          <!--</div>-->
        <!--% end %>-->
      <% end %>
    </div>


    <div class="col-12">
      <div class="paginate-pad">
        <%= paginate @region_details[:kite_spots] %>
      </div>
    </div>

  </div>
</section>
