<%= render 'partials/sticky_filter_bar' %>
<br>

<div class="container">
  <h4>Your Profiles</h4>
  <br>

  <p>Email: <%= @user.email %></p>

  <p>Name:
    <% if @user.name %>
      <%= @user.name %>
    <% else %>
      <i>Your name is unset. Please <%= link_to 'Update your Profile', edit_user_registration_path %> to set.</i>
    <% end %>
  </p>

  <p>Account created: <b><%= @user.created_at.strftime('%b %d, %Y at %l:%M %P GMT')  %></b></p>

  <p>Account last updated: <b><%= @user.updated_at.strftime('%b %d, %Y at %l:%M %P GMT') %></b></p>

  <i>(The timezone above may not match your current timezone)</i>

  <hr>
  <%= link_to 'Update Profile', edit_user_registration_path %>

</div>
