<br><br><br><br>




<div class="container">

  <nav class="" aria-label="breadcrumb">
    <ol class="breadcrumb pl-0 justify-content-start">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><%= link_to 'Profile', profile_path %></li>
      <li class="active breadcrumb-item" aria-current="page">Edit</li>
    </ol>
  </nav>

  <h2>Edit <%= resource_name.to_s.humanize %></h2>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render 'devise/shared/error_messages', resource: resource %>

    <div class="form-group col-6">
      <%= f.label :email, class: 'form-label' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="form-group col-6">
      <%= f.label :name, class: 'form-label' %><i class="text-muted"> (Your name attached to postings on this site)
    </i><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
    </div>

    <div class="form-group col-6">
      <%= f.label :latitude, class: 'form-label' %><i class="text-muted"> (Your latitude to calculate distances from)
    </i><br />
      <%= f.number_field :latitude, autofocus: true, step: 0.00001, class: 'form-control' %>
    </div>

    <div class="form-group col-6">
      <%= f.label :longitude, class: 'form-label' %><i class="text-muted"> (Your longitude to calculate distances from)
    </i><br />
      <%= f.number_field :longitude, autofocus: true, step: 0.00001, class: 'form-control' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group col-6">
      <%= f.label :password, class: 'form-label' %> <i class="text-muted"> (leave blank if you don't want to change it)
    </i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="form-group col-6">
      <%= f.label :password_confirmation, class: 'form-label' %>
      <% if @minimum_password_length %>
        <em class="text-muted">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <hr>

    <div class="form-group col-6">
      <%= f.label :current_password, class: 'form-label' %> <i class="text-muted"> (we need your current password to
      confirm
      your
      changes)
    </i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit 'Update', class: 'btn btn-outline-primary' %>
    </div>
  <% end %>

  <br>
  <hr>

  <!--<h3>Cancel my account</h3>-->

  <!--<p>Click Below to deactivate your account <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-outline-primary' %></p>-->


</div>