



<div class="px-3 container-fluid">
  <div class="min-vh-100 row">
    <div class="d-flex align-items-center col-md-8 col-lg-6 col-xl-5">
      <div class="w-100 py-5 px-md-5 px-xl-6 position-relative">
        <div class="mb-5">
          <!--
          <%= image_tag 'favicons/android-chrome-192x192.png', alt: '...', style: 'max-width:4rem', class: 'img-fluid
          mb-3' %> -->

          <h2>Sign Up to</h2>
          <h2> <%= t('site_name') %></h2>
        </div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-validate') do |f| %>
          <%= render 'devise/shared/error_messages', resource: resource %>

          <div class="form-group">
            <label for="loginUsername" class="form-label">Email Adress</label>
            <%= f.email_field :email, autofocus: true, autocomplete: 'email', class:
                                        'form-control', placeholder: 'name@address.com', required: true %>
          </div>

          <div class="mb-4 form-group">
            <div class="row">
              <div class="col"><label for="loginPassword" class="form-label">Password</label></div>
            </div>
            <%= f.password_field :password, id: 'loginPassword', placeholder: 'Password', required: true, class: 'form-control' %>
          </div>

          <div class="mb-4 form-group">
            <div class="row">
              <div class="col"><label for="password_confirmation" class="form-label">Password</label></div>
            </div>
            <%= f.password_field :password_confirmation, id: 'password_confirmation', placeholder: 'Confirm Password', required: true, class: 'form-control' %>
          </div>

          <%= f.submit 'Sign Up', class: 'btn btn-primary btn-lg btn-block' %>
        <% end %>

        <br>
        <hr data-content="OR" class="my-3 hr-text letter-spacing-2">
        <br>

        <p class="text-center">
          <small class="text-muted text-center">Already have an account?&nbsp;
            <%= link_to 'Sign In', new_user_session_path %>
          </small>
        </p>

        <a class="close-absolute mr-md-5 mr-xl-6 pt-5" href="/">
          <svg class="svg-icon w-3rem h-3rem">
            <use xlink:href="<%= image_url('svg/orion-svg-sprite.svg#close-1') %>"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="d-none d-md-block col-md-4 col-lg-6 col-xl-7">
      <div style="background-image:url(<%= image_url(background_img_name) %>)" class="bg-cover h-100 mr-n3"></div>
    </div>
  </div>
</div>