<div class="container">
  <div class="row">
    <%= form_with(model: kite_spot, local: true) do |form| %>
      <% if kite_spot.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(kite_spot.errors.count, "error") %> prohibited this kite_spot from being saved:</h2>

          <ul>
            <% kite_spot.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :cover_photo %>
        <%= form.file_field :cover_photo %>
      </div>

      <div class="field">
        <%= form.label :content %>
        <%= form.rich_text_area :content %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
