<%= render 'partials/sticky_filter_bar' %>

<%= render 'partials/photo_gallery', locals={resource: @kite_spot} %>
<br>

<div class="container card">
  <h3 class="kitespot-name"><%= @kite_spot.name %></h3>
  <h5><%= link_to @kite_spot.country.name, @kite_spot.country %></h5>
  <br>

  <!-- months selector -->
  <div class="row">
    <div class="col-12">
      <h5>Best Months</h5>
      <%= render 'partials/month_tag_selector', locals={month_tag_list: @kite_spot.month_tag_list} %>
    </div>
  </div>
  <br>
  <br>

  <!-- content & map -->
  <div class="row">
    <div class="col-md-5">
      <%= @kite_spot.content %>
    </div>
    <div class="col-md-7">
      <%= render 'partials/leaflet_map', locals={loc_map: @kite_spot.location_map} %>
    </div>
  </div>
  <br>

  <h4>Amenities</h4>
  <br>
  <!-- amenities -->
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-pills">
        <% @kite_spot.amenities.each do |amenity| %>
          <li class="card" style="color: white; background-color: #497; margin: 4px; padding: 4px 8px"><%= amenity
          %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <br>

  <!-- wind-info -->
  <%= render 'partials/wind_info', locals={resource: @kite_spot} %>
  <br>
  <br>

</div>
