<%= render 'partials/sticky_filter_bar' %>

<%= render 'partials/photo_gallery', locals={resource: @kite_spot} %>


<div class="container">
  <h4 class="kitespot-name"><%= @kite_spot.name %></h4>
  <h5><%= link_to @kite_spot.country.name, @kite_spot.country %></h5>
  <br>
  <div class="row">
    <div class="col-2">
      <h5>Best Months</h5>
    </div>

    <%= render 'partials/kiteable_month_selector', locals={kiteable_month_list: @kite_spot.kiteable_month_list} %>
  </div>

  <br><br>


  <div class="row">
    <div class="col-md-5">
      <p>
      <%= @kite_spot.content %></p>
    </div>
    <div class="col-md-7">
      <%= render 'partials/leaflet_map', locals={loc_map: @kite_spot.location_map} %>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <%= @kite_spot.description %>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-4">
      <h4>Amenities</h4>
    </div>

    <% @kite_spot.amenities.each do |amenity| %>
      <div class="col-1">
        <%= amenity %>
      </div>
    <% end %>

  </div>

</div>
