<!--render 'partials/main_grid', locals={resource: @kite_spots}  -->
<!-- TODO - resize_to_limit set to actual size -->

<div class="row">
  <% resource.each do |el| %>

    <div class="col-6 col-md-4 col-lg-3 mb-2">
      <div class="card">
        <%= link_to el do %>
          <% if el.photos.any? %>
            <%= image_tag el.photos[0].variant(resize_to_limit: [200, 160]), class: 'card-img-top' %>
          <% else %>
            <%= image_tag "//lorempixel.com/200/160/", class: 'card-img-top' %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= el.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= el.card_subtitle %></h6>
            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
          </div>
        <% end %>
      </div>
    </div>

  <% end %>
</div>


<!--wide cards-->
<!--<div class="card mb-3">-->
  <!--<div class="row no-gutters">-->
    <!--<div class="col-md-4">-->
      <!--<svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" role="img"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>-->

    <!--</div>-->
    <!--<div class="col-md-8">-->
      <!--<div class="card-body">-->
        <!--<h5 class="card-title">Card title</h5>-->
        <!--<p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p>-->
        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->