<nav class="navbar navbar-expand-md navbar-dark sticky-top">
  <%= link_to t('main_header'), root_path, class: 'navbar-brand' %>

  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
      <%= link_to 'Kite Spots', kite_spots_path, class: 'nav-item nav-link ' %>
      <%= link_to 'Countries', countries_path, class: 'nav-item nav-link ' %>
      <%= link_to 'Global Map', global_map_path, class: 'nav-item nav-link' %>
      <%= link_to 'Search', search_advanced_path, class: 'nav-item nav-link' %>

      <!--<p class="nav-link nav-item">|</p>-->
      <% if current_user %>
        <%= link_to 'Profile', profile_path, class: 'nav-item nav-link' %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-item nav-link' %>
      <% else %>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-item nav-link' %>
        <%= link_to 'Sign In', new_user_session_path, class: 'nav-item nav-link' %>
      <% end %>
    </div>

    <% if filterable_controller(controller_path) %>
      <form class="form-inline ml-auto">
        <input id="sticky-search" type="text" class="form-control mr-sm-2" placeholder="Filter">
        <!-- TODO: add db search -->
        <!--<button type="submit" class="btn btn-outline-light" disabled>Search</button>-->
      </form>
    <% end %>
  </div>
</nav>
