<!--<div class="col col-lg-6 px-0">-->
<!--TODO - responsive variants-->
<div class="d-flex align-items-center dark-overlay hover-scale-bg-image mh-400">

  <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
    <div class="pill badge px-3 py-2">
      <!--todo - tags etc-->
    </div>
    <%= render 'favorites/form', locals={model: model} %>
  </div>

  <img src="<%= url_for(variant_550(model.cover_photo)) %>" alt="<%= model.name %>"
       class="bg-image" />
  <div class="p-3 p-sm-5 text-white z-index-20">
    <h4 class="h2"><%= model.name %></h4>
    <p class="mb-4 text-sm"><%= model.card_subtitle %></p>
    <%= link_to model, class: 'text-reset pl-0 stretched-link text-decoration-none btn
    btn-link' do %>
      SEE MORE
      <i class="fa fa-chevron-right ml-2"></i>
    <% end %>
  </div>
</div>

