<!--TODO - responsive variants-->
<div class="card h-100 border-0 shadow">
  <%= link_to '', model, class: 'tile-link' %>
  <div style="background-image: url(<%= url_for(model.cover_photo.variant(resize_to_fill: [550, 450])) %>)" class="card-img-top overflow-hidden dark-overlay
  bg-cover">
    <div class="card-img-overlay-bottom z-index-20">
      <h4 class="text-white text-shadow">
        <%= model.name %>
      </h4>
      <p class="mb-2 text-xs">
        <!--STARS-->
        <!--% (1..5).each do |i|  %>-->
          <!--&lt;!&ndash;<i key="%= i %>" class="fa fa-star text-warning"> </i>&ndash;&gt;-->
          <!--<i class="fas fa-crow text-warning"></i>-->
        <!--% end %>-->

        <!--<i key={i} className={`fa fa-star ${props.size ? `fa-`+props.size : ""} text-gray-300`} />-->

        <!--{{!&#45;&#45; <Stars stars={data.stars} /> &#45;&#45; %>-->
      </p>
    </div>

    <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
      <div class="pill badge px-3 py-2">
        <!--todo - tags etc-->
      </div>
      <%= render 'favorites/form', locals={model: model} %>
    </div>
  </div>

  <div class="card-body">
    <div class="text-sm text-muted mb-3 mxh-150">
      <%= model.content %>
    </div>
    <p class="text-sm text-muted text-uppercase mb-1">
      <span class="px-3 py-2 badge badge-transparent badge-pill">
        <%= link_to model.country.name, model.country, class: 'text-dark ml-1 inside-tile-link' %>
      </span>

    </p>

    <p class="text-sm mb-0">
      <% model.amenities.each do |amenity| %>
        <span class="mr-1">
          <%= amenity %>
        </span>
      <% end %>
    </p>
  </div>

</div>

