<%= link_to model do %>
  <div class="card h-100 mxw-350 border-0 shadow">
    <div style="background-image: url(<%= url_for(model.cover_photo) %>)" class="card-img-top overflow-hidden dark-overlay
    bg-cover">
      <div class="card-img-overlay-bottom z-index-20">
        <h4 class="text-white text-shadow">
          <%= model.name %>
        </h4>
        <p class="mb-2 text-xs">
          <!--{{!&#45;&#45; <Stars stars={data.stars} /> &#45;&#45; %>-->
        </p>
      </div>

      <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
        <div class="pill badge px-3 py-2">
          <!--Kite Spot-->
        </div>
        <a href="#" class="card-fav-icon position-relative z-index-40">
          <svg class="svg-icon text-white">
            <use xlink:href="<%= image_url('svg/orion-svg-sprite.svg#heart-1') %>"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="card-body">
      <p class="text-sm text-muted mb-3">
        <%= model.content %>
      </p>
      <p class="text-sm text-muted text-uppercase mb-1">
        <%= link_to model.country.name, model.country, class: 'text-dark ml-1' %>
      </p>

      <p class="text-sm mb-0">
        <% model.amenities.each do |amenity| %>
          <span class="mr-1" href="#">
            <%= amenity %>
          </span>
        <% end %>
      </p>
    </div>

  </div>
<% end %>
