<div class="px-3 container-fluid">
  <div class="min-vh-100 row">
    <div class="d-flex align-items-center col-md-8 col-lg-6 col-xl-5">
      <div class="w-100 py-5 px-md-5 px-xl-6 position-relative">
        <div class="mb-5">
          <!--
          <%= image_tag 'favicons/android-chrome-192x192', alt: '...', style: 'max-width:4rem', class: 'img-fluid
          mb-3' %> -->

          <h2>Welcome back</h2>
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-validate') do |f| %>
          <div class="form-group">
            <label for="loginUsername" class="form-label">Email Adress</label>
            <%= f.email_field :email, autofocus: true, autocomplete: 'email', class:
            'form-control', placeholder: 'name@address.com', required: true %>
          </div>

          <div class="mb-4 form-group">
            <div class="row">
              <div class="col"><label for="loginPassword" class="form-label">Password</label></div>
              <div class="col-auto">
                <%= link_to 'Forgot password?', new_user_password_path, class: 'form-text small' %>
              </div>
            </div>
            <%= f.password_field :password, id: 'loginPassword', placeholder: 'Password', required: true, class: 'form-control' %>
          </div>

          <div class="mb-4 form-group">
            <div class="text-muted custom-checkbox custom-control">
              <%= f.check_box :remember_me, name: 'loginRemember', id: 'loginRemember', class: 'custom-control-input' %>
              <label class="custom-control-label" for="loginRemember">
                <span class="text-sm">Remember me for 30 days</span>
              </label>
            </div>
          </div>

          <%= f.submit 'Sign in', class: 'btn btn-primary btn-lg btn-block' %>
        <% end %>

        <br>
        <hr data-content="OR" class="my-3 hr-text letter-spacing-2">
        <br>

        <p class="text-center">
          <small class="text-muted text-center">Don't have an account yet?&nbsp;
            <%= link_to 'Sign Up', new_user_registration_path %>
          </small>
        </p>

        <a class="close-absolute mr-md-5 mr-xl-6 pt-5" href="/"><svg class="svg-icon w-3rem h-3rem">
        <use xlink:href="<%= image_url('svg/orion-svg-sprite') %>"></use>
      </svg></a>
      </div>
    </div>
    <div class="d-none d-md-block col-md-4 col-lg-6 col-xl-7">
      <div style="background-image:url(<%= image_url('kite-south-africa-md') %>)" class="bg-cover h-100 mr-n3"></div>
    </div>
  </div>
</div>