<%= render 'partials/sticky_filter_bar' %>
<br>

<div class="container">
  <div class="row">
    <h4>Advanced Search</h4>
  </div>

  <div class="row">
    <%= link_to 'Back', root_path %>
  </div>

  <br>
  <%= render 'form' %>

  <hr>
  <br>

  <%= render 'partials/leaflet_map', locals={map_markers: @kite_spots + @countries } %>

  <div class="col-12">
    <h4>Countries</h4>
  </div>
  <% if @countries.empty? && params[:search].present? %>
    <p class="text-center">No Matching Countries Found</p>
  <% else %>
    <%= render 'partials/main_grid', locals = {resource: @countries} %>
  <% end %>

  <br>
  <hr>

  <div class="col-12">
    <h4>Kite Spots</h4>
  </div>
  <% if @kite_spots.empty? && params[:search].present? %>
    <p class="text-center">No Matching Kite Spots found</p>
  <% else %>
    <%= render 'partials/main_grid', locals = {resource: @kite_spots} %>
  <% end %>

  <div class="navbar-light bg-light card paginate-pad">
    <%= paginate @kite_spots %>
  </div>
</div>
